<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FortuneTigerMouseOX"
        tools:targetApi="31">
        <activity
            android:name=".Level44"
            android:exported="false" />
        <activity
            android:name=".Level43"
            android:exported="false" />
        <activity
            android:name=".Level42"
            android:exported="false" />
        <activity
            android:name=".Level41"
            android:exported="false" />
        <activity
            android:name=".Level35"
            android:exported="false" />
        <activity
            android:name=".Level34"
            android:exported="false" />
        <activity
            android:name=".Level33"
            android:exported="false" />
        <activity
            android:name=".Level32"
            android:exported="false" />
        <activity
            android:name=".Level31"
            android:exported="false" />
        <activity
            android:name=".Level27"
            android:exported="false" />
        <activity
            android:name=".Level26"
            android:exported="false" />
        <activity
            android:name=".Level25"
            android:exported="false" />
        <activity
            android:name=".Level24"
            android:exported="false" />
        <activity
            android:name=".Level23"
            android:exported="false" />
        <activity
            android:name=".Level22"
            android:exported="false" />
        <activity
            android:name=".Level21"
            android:exported="false" />
        <activity
            android:name=".Level15"
            android:exported="false" />
        <activity
            android:name=".Level14"
            android:exported="false" />
        <activity
            android:name=".Level13"
            android:exported="false" />
        <activity
            android:name=".Level12"
            android:exported="false" />
        <activity
            android:name=".Level11"
            android:exported="false" />
        <activity
            android:name=".Prologue3"
            android:exported="false" />
        <activity
            android:name=".Prologue2"
            android:exported="false" />
        <activity
            android:name=".Prologue1"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Load"
            android:exported="false" />
        <activity
            android:name=".Screen4"
            android:exported="false" />
        <activity
            android:name=".WebView"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>